<!--<footer class="flex-rw">-->

    <!--<section class="footer-social-section flex-rw">-->
      <!--<span class="footer-social-overlap footer-social-connect">-->
      <!--MADE <span class="footer-social-small">by</span> 조주영 / 오영택 / 김진우-->
      <!--</span>-->
    <!--</section>-->

<!--</footer>-->

<footer>
    <div style="text-align: right; padding-right: 20px; font-family: 'Nanum Brush Script OTF'; font-size: 3rem">
        <span style="background: rgb(55, 55, 55); color: white;">'  Made by 조주영 / 오영택 / 김진우   '</span>
    </div>
</footer>
<br><br>

</div>
</body>
</html>