@font-face {
    font-family: 'bandalgom';
    src: url('../fonts/bandalgom.ttf');
}

/*.sidebar {*/
    /*!*border-radius: 20px;*!*/
    /*position: fixed;*/
    /*width: 20%;*/
    /*height: 65%;*/
    /*margin-left: 65%;*/
    /*!*background: ;*!*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
/*}*/
/*.sidebar p {*/
    /*padding: 6px 6px 6px 32px;*/
    /*color: #ec971f;*/
    /*font-size: 130%;*/
/*}*/
/*.sidebar a {*/
    /*padding: 6px 6px 6px 32px;*/
    /*text-decoration: none;*/
    /*!*font-size: 25px;*!*/
    /*font-size: 110%;*/
    /*color: mediumpurple;*/
    /*display: block;*/
/*}*/
/*.sidebar br {*/
    /*border-bottom:1px*/
/*}*/
/*.sidebar a:hover {*/
    /*color: #f1f1f1;*/
/*}*/

