<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">함께 읽은 글</div>
        <div class="panel-body">
            <ul>
                <a id="s1" style=""></a><br>
                <a id="s2"></a><br>
                <a id="s3"></a><br>
                <a id="s4"></a><br>
                <a id="s5"></a>
            </ul>
        </div>
    </div>
</div>
